= render "layouts/header"
= render partial: "layouts/header_orienteering", locals: { orienteering: @orienteering }
.wrapper
  .orienteering-edit-contents
    = render partial: "form", locals: { orienteering: @orienteering }
= render "layouts/footer"
