.devise-reg-new-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  form{
    width: 80vw;
    .field{
      margin-bottom: 10px;
      input{
        width: 100%;
      }
    }
    .actions{
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
  }
}

.devise-session-new-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  form{
    width: 80vw;
    .field{
      margin-bottom: 10px;
      input{
        width: 100%;
      }
    }
    .actions{
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
  }
}
