footer.footer-after-signin{
  padding: 8px;
  background-color: #440000;
  p{
    color: white;
    font-size: 12px;
  }
}

footer.footer-before-signin{
  padding: 10px;
  background-color: #440000;
}
