.orienteering-index-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  h2{
    font-size: 24px;
  }
  .table-div{
    padding: 12px;
    width: 100%;
    &__child{
      overflow: auto;
      table{
        margin: 0 auto;
        th, td{
          border: 1px solid #440000;
          padding: 8px;
          text-align: center;
          min-width: 40px;
          white-space: nowrap;
        }
        td.orienteering{
          background-color: #FFDBC9;
          padding: 0;
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 8px;
          }
        }
      }
    }
  }
  a.a-tag-button{
    margin-top: 12px;
    margin-bottom: 24px;
    button{
      font-size: 18px;
      padding: 12px;
    }
  }
}

.orienteering-show-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  h2{
    font-size: 24px;
  }
  .table-div{
    margin-bottom: 12px;
    padding: 12px;
    width: 100%;
    &__child{
      overflow: auto;
      table{
        margin: 0 auto;
        th, td{
          border: 1px solid #440000;
          padding: 8px;
          text-align: center;
          min-width: 40px;
          white-space: nowrap;
        }
        td.control{
          background-color: #FFDBC9;
          padding: 0;
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 8px;
          }
        }
      }
    }
  }
  .div-only-host{
    border-top: 2px solid #440000;
    padding-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    a{
      margin-top: 12px;
      margin-bottom: 12px;
      button{
        font-size: 18px;
        padding: 12px;
        width: 160px;
      }
    }
  }
}

.orienteering-new-contents, .orienteering-edit-contents{
  padding-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  form{
    padding-top: 12px;
    .orienteering-form__field{
      width: 80vw;
      margin-bottom: 12px;
      label{
        display: block;
      }
      input{
        width: 100%;
      }
    }
    .orienteering-form__select{
      select{
        display: inline-block;
        height: 30px;
        margin-bottom: 4px;
      }
      #orienteering_opendate_at_1i, 
      #orienteering_opendate_at_2i, 
      #orienteering_opendate_at_3i{
        width: 30%;
      }
      #orienteering_opendate_at_4i, 
      #orienteering_opendate_at_5i{
        width: 20%;
      }
    }
    .orienteering-form__actions{
      margin: 24px 0;
      display: flex;
      justify-content: center;
      input{
        padding: 8px;
      }
    }
  }
}

.orienteering-result-contents{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  h2{
    font-size: 24px;
  }
  .table-div{
    padding: 12px;
    width: 100%;
    &__child{
      overflow: auto;
      table{
        margin: 0 auto;
        th, td{
          border: 1px solid #440000;
          padding: 8px;
          text-align: center;
          min-width: 40px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (min-width:1024px) {
  .orienteering-new-contents, .orienteering-edit-contents{
    form{
      .orienteering-form__field{
        width: 600px;
      }
      .orienteering-form__select{
        #orienteering_opendate_at_1i, 
        #orienteering_opendate_at_2i, 
        #orienteering_opendate_at_3i,
        #orienteering_opendate_at_4i, 
        #orienteering_opendate_at_5i{
          width: 100px;
        }
      }
    }
  }
  
}
